{% extends "base.html" %}
{% block title %}
Vote tallying
{% endblock %}

{% block content %}
<main class="container m-auto">
    <div class="row mt-2">
        <div class="card col-md-8">
            <div class="card-body">
                <h6>Presidential vote</h6>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Votes</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Shirogane</td>
                        <td>208</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kaguya</td>
                        <td>203</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Chika</td>
                        <td>200</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5>Leading candidate</h5>
                <hr>
                <h3 class="text-center text-success">Shirogane</h3>
                <h3 class="text-center text-success">208 Votes</h3>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="card col-md-8">
            <div class="card-body">
                <h6>Secretary General vote</h6>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Votes</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Shirogane</td>
                        <td>208</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kaguya</td>
                        <td>203</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Chika</td>
                        <td>200</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5>Leading candidate</h5>
                <hr>
                <h3 class="text-center text-success">Shirogane</h3>
                <h3 class="text-center text-success">208 Votes</h3>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="card col-md-8">
            <div class="card-body">
                <h6>Speaker votes</h6>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Votes</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Shirogane</td>
                        <td>208</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kaguya</td>
                        <td>203</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Chika</td>
                        <td>200</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5>Leading candidate</h5>
                <hr>
                <h3 class="text-center text-success">Shirogane</h3>
                <h3 class="text-center text-success">208 Votes</h3>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="card col-md-8">
            <div class="card-body">
                <h6>Treasurer vote</h6>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Votes</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Shirogane</td>
                        <td>208</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kaguya</td>
                        <td>203</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Chika</td>
                        <td>200</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="card-body">
                <h5>Leading candidate</h5>
                <hr>
                <h3 class="text-center text-success">Shirogane</h3>
                <h3 class="text-center text-success">208 Votes</h3>
            </div>
        </div>
    </div>
</main>
{% endblock %}
